
HOST = # corresponds to the [server.host](https://vite.dev/config/server-options#server-host) option. Default: localhost

PORT = # corresponds to the [server.port](https://vite.dev/config/server-options#server-port) option. Default: 5173

ALLOWED_HOSTS = # corresponds to the [server.allowedHosts](https://vite.dev/config/server-options#server-allowedhosts) option. Default: []

PROXY_API_TARGET = # corresponds to the [server.proxy.target](https://vite.dev/config/server-options#server-proxy) option. Default: 'http://localhost:7828'

PROXY_SOCKET_TARGET = # corresponds to the [server.proxy.target](https://vite.dev/config/server-options#server-proxy) option. Default: 'ws://localhost:7828'

VITE_API_PATH = '/api/rest/v2' # Relative or absolute API base URL

VITE_SOCKET_PATH = '/socket' # Relative or absolute WebSocket server URL

VITE_IPFS_GATEWAY = 'https://ipfs.blockfrost.dev' # Gateway to handle ipfs://... links

VITE_ARWEAVE_GATEWAY = 'https://arweave.net' # Gateway to handle ar://... links

VITE_LOCAL_GATEWAY = # Base URL used to handle local links (e.g. token and pool logos). Default: window.location.origin

VITE_NETWORKS = 'mainnet = https://adastat.net | preprod = https://preprod.adastat.net | preview = https://preview.adastat.net' # Available networks in the network selection widget, networkId = link. It can be empty if the network selection widget is not needed
