
# App

HOST = # Server host. Default: 'localhost'

PORT = # Server port. Default: 7828

ALLOWED_ORIGINS = # Allowed websocket / website origins separated by the | character. Default: no one allowed

POOL_LOGO_DIR = # Pool logo absolute path. Default: './images/pools'

TOKEN_LOGO_DIR = # Token logo absolute path. Default: './images/tokens'

IPFS_GATEWAY = # Gateway to handle ipfs://... links. Default: 'https://ipfs.blockfrost.dev'

ARWEAVE_GATEWAY = # Gateway to handle ar://... links. Default: 'https://arweave.net'

# Primary database (e.g. remote writable database). Used for listening to event triggers.

DB_HOST = # Primary database host. Default: 'localhost'

DB_PORT = # Primary database port. Default: 5432

DB_NAME = # Primary database name. Default: current logged in user

DB_USER = # Primary database user. Default: current logged in user

DB_PASSWORD = # Primary database password. Default: undefined

# Secondary database (e.g. local read-only database using built-in WAL replication). Used for queries.

SECONDARY_DB_HOST = # Secondary database host. Default: DB_HOST

SECONDARY_DB_PORT = # Secondary database port. Default: DB_PORT

SECONDARY_DB_NAME = # Secondary database name. Default: DB_NAME

SECONDARY_DB_USER = # Secondary database user. Default: DB_USER

SECONDARY_DB_PASSWORD = # Secondary database password. Default: DB_PASSWORD
